[2019-05-22 08:36] RobertWalter83 opened #1 "inkgd not in asset library"
**Describe the bug**
I wanted to try out this plugin, but cannot find it in the asset library

**To Reproduce**
I searched for inkgd as well as looking for it in the alphabetically ordered list, no inkgd.
![image](https://user-images.githubusercontent.com/5462981/58159331-9212b800-7c7c-11e9-935a-764d8af61a41.png)

**Environment:**
 - OS: Windows 10
 - Inklecate version: 0.8.2
 - _inkjs_ version: n

[2019-05-22 08:43] ephread commented on #1
Hey @RobertWalter83, it was only accepted a few minutes/hours ago (yay \o/): https://godotengine.org/asset-library/asset/349

Might be a caching issue on their end, I'll watch this closely, but you may want to try again in a few hours.

[2019-05-22 08:58] RobertWalter83 commented on #1
Wow, didn't know it's that fresh! Congrats!

[2019-05-22 08:58] #1 closed

[2019-05-22 09:15] RobertWalter83 opened #2 "Compiling the example doesn't work)"
**Describe the bug**
I cloned the current master branch and wanted to use the editor to compile "the_intercept" example.
I tried setting the path to the executable both via absolute path as well as using a resource-path (res://).
In case of an absolute path, pressing "Compile" gives me this output:
![image](https://user-images.githubusercontent.com/5462981/58162493-917d2000-7c82-11e9-907e-351f05c7

[2019-05-22 09:19] ephread commented on #1
Thank you! Yeah, it's super new, I released it two days ago!

Upon further investigation, the asset is tagged as _Testing_, not as _Community_ which is most likely the reason why it doesn't appear in the editor. It might have defaulted to "Testing" because it's tagged with a version below 1.0 though, so I'll have to ask whether it's going to be a problem or not on the Discord.

In the meantime (I

[2019-05-22 09:34] ephread commented on #2
First bug! Oh well, this project is off to a great start it seems.

Looks like I didn't test the editor plugin properly on Windows. I'm able to reproduce the issue, give me a few minutes, I should be able to fix the issue fairly quickly.

[2019-05-22 09:36] RobertWalter83 commented on #2
No worries, bugs are part of the equation.

[2019-05-22 09:58] ephread commented on #2
Should be fixed in master. I forgot to add a chunk of code 😅, I also added in the README that paths to inklecate should be absolute for now.

I'm getting off Github, I hope you won't find any blocking issue until tomorrow!

[2019-05-22 11:46] RobertWalter83 commented on #2
It works for me now, thanks.

[2019-05-22 11:46] #2 closed

[2019-05-23 12:22] Calinou commented on #1
After approving the asset, I forgot to change the support level from *Testing* to *Community* (*Testing* being the default level when an asset is newly-approved). Sorry for the inconvenience.

[2019-05-23 22:05] ephread commented on #1
@Calinou all good, thanks for the swift response!

[2019-05-23 23:37] fire opened #3 "Support multiple languages"
**Describe the bug**
Support multiple languages.

**To Reproduce**
?

**Expected behavior**
Read language files from Godot so it automatically translates.

**Additional Info**

TTR so it generates the proper translation keys?

[2019-05-24 03:25] ephread commented on #3
Hey @fire! Do you mean localising the editor plugin or supporting localisation in the ink runtime?

[2019-05-24 03:29] fire commented on #3
For shipping games with translated text.

[2019-05-24 04:20] ephread commented on #3
Sadly, it would have to be handled at the Ink level, most likely by running different stories depending on the local. Ink can do some very fancy things with text such as [mixing choice and output texts](https://github.com/inkle/ink/blob/master/Documentation/WritingWithInk.md#advanced-mixing-choice-and-output-text). These things can't be localised easily, as they are largely language-dependent.

Th

[2019-05-24 10:28] ephread opened #4 "Performance issues when building the container hierarchy"
Building the container hierarchy of The Intercept currently takes about 2 seconds on my MacBook Pro. This is insanely slow.

- [ ] Check the performances of other implementations (original C#, inkjs).
- [ ] Find a way to improve the performances.
- [ ] Document the best way to offload the story setup to a background thread.

[2019-07-25 11:06] zyq0825 opened #7 "Can't download the example"
**Describe the bug**
Hello I don't know if it's only me but whether I install inkgd from assert lib or download here, I couldn't get the example folder... So I tried to download the tscn file directly but my godot said " Error while parsing" when I tried to open the scene file.

**To Reproduce**
Clone or Download ->Download ZIP

**Expected behavior**
Be able to run the example

**Environment:**
 -

[2019-07-25 12:14] #7 closed

[2019-07-25 12:16] zyq0825 commented on #7
Used extension for chrome and got the example! 😂

[2019-07-25 13:10] zyq0825 commented on #3
Would it be possible for us to change the json encode? The compiled json is encoded in UTF-8-BOM but to show Chinese characters I need to convert the json to UTF-8

[2019-08-27 17:15] MageJohn opened #8 "Unused class variable warnings"
**Describe the bug**
Lots of (about 70) unused class variable warnings.

**To Reproduce**
Run a scene using the library, e.g. the example from this repository.

**Expected behaviour**
Ideally these shouldn't appear, as they pollute the output and make it hard to find errors originating from your own script.

**Environment:**
Manjaro Linux

EDIT: I notice that these warnings are suppressed in the p

[2019-10-01 02:04] lunarcloud opened #10 "Works in Editor, Not in Export"
**Describe the bug**
ERROR: get_node: Node not found: __InkRuntime
   At: scene/main/node.cpp:1382.

**To Reproduce**
Export this project: https://github.com/lunarcloud/not-a-halloween-game/tree/inkgd

**Expected behavior**
To behave the same in export as editor - no find and use the static runtime node

**Ink files**
See "to reproduce"

**Environment:**
 - OS: Kubuntu 19.04
 - Inklecate version:(

[2019-10-02 08:16] ephread commented on #8
Hey @MageJohn, sorry for the late response.

Yeah, there's indeed a lot of warnings, I'm not sure how to go about them for now. On one hand, I'd like to stick as close as possible to the original source code, but on the other hand, I agree, these warnings pollute the output. It's an ongoing issue. I have to dive into the project again and see what can be done about them.

[2019-10-02 08:17] ephread commented on #10
Ouch @lunarcloud, that's definitely a big problem, thanks for opening the issue! I'll have a look this weekend.

[2019-10-04 23:54] ephread commented on #10
I couldn't reproduce the issue with you project, but I managed to trigger it with the example project. The good news is that PR #9 should fix the issue. It was merged a few days ago, so can you give it a try with `master/HEAD`? If that works, I'll create a new release.

[2019-10-06 18:57] lunarcloud commented on #10
Yes, that fixed it for me
(verified after *also* wrestling with godot about including the json file in the export)

[2019-10-06 18:57] #10 closed

[2019-10-06 21:09] ephread commented on #10
Awesome, I'll make a new release as soon as possible!

[2019-10-12 18:47] Stoeoeoe commented on #8
There are several issues open which address warning pollution caused by addons, e.g.:
https://github.com/godotengine/godot/issues/22108
https://github.com/godotengine/godot/issues/28232

One way how to solve this issue is to use the ignore docstrings:
`# warning-ignore:my_error_type` disables a single warning of a certain type.
`#warnings--ignore-all:my_error_type` disables all warnings of a certa

[2019-10-14 07:40] ephread commented on #8
Thank you so much for taking the time to work on this @Stoeoeoe. These insights are really helpful.

In the coming weekends, I'll review all the warnings and start silencing those I feel can't be easily fixed (like `UNUSED_ARGUMENT` warnings coming from the conversion of upstream code). After that, the few remaining warnings should be easy to fix.

I learned something today, as I didn't know Godot

[2019-11-08 10:15] Xrayez commented on #8
See godotengine/godot#33437 merged in 3.2.beta, `addons` folder will be excluded by default.

[2019-11-28 15:11] 2shady4u opened #12 "Combined lists and functions don't work as intended"
**Describe the bug**
Passing list elements to a switch function should result in this list element being matched. This is not the case... the function doesn't recognize the element and simply chooses the "else" path.

**To Reproduce**
- Make a new Godot project
- Download and activate the inkgd plugin from the Asset Store
- Download the examples-folder from the Github repository
- Take the minimum

[2019-11-28 22:50] 2shady4u opened #13 "Multiline functions are executed all at once"
**Describe the bug**
Putting multiple functions **on different lines** results in all these functions being executed at once without any respect for the new line.

**To Reproduce**

- Make a new Godot project
- Download and activate the inkgd plugin from the Asset Store
- Download the examples-folder from the Github repository
- Take the minimum ink-file I supplied below and copy-paste it into the

[2019-11-29 09:40] shrnjad opened #14 "Best way to integrate Mono?"
Thank you very much for providing this!

What is the best way to integrate Mono? I saw in the doku that one should link to the mono runtime. But is there a preferred way to use Mono? Like using the Godot Mono version? Or better to use Godot without Mono but have a separate installation of Mono?

Maybe it would also be interesting to add to the readme.

Thank you! :)

[2019-11-29 10:05] 2shady4u commented on #14
There's a C# implementation for Ink in Godot also floating around. Maybe it is better to use that one if you are going to use Mono anyway?

[2019-11-29 10:17] shrnjad commented on #14
Right now I am on Godot-Mono and gotot-ink, because I had not found your plugin when researching.

Basically, I am still at the beginning of the project and I would like to switch to your plugin to avoid Godot-Mono (I do not intend to use C# otherwise)

So I guess you answer is to Use Godot without mono and have a separate installation of mono for the inkgd plugin?

[2019-11-29 10:52] 2shady4u commented on #14
mmmh this is not my plugin 🤣

So:
- godot-ink (https://github.com/paulloz/godot-ink ) works well with Godot Mono
- gdink (https://github.com/ephread/inkgd) works well with Godot GDscript

Are you using Godot Mono (C#)?
Yes? Then use godot-ink
No? Then use gdink

[2019-12-01 06:10] ephread commented on #14
@shrnjad as @2shady4u perfectly summarised, _inkgd_ has no dependencies on mono, it’s implementation of the runtime in pure GDScript. If you intend to you use this plugin, you can use the vanilla version of Godot.

[2019-12-01 06:13] ephread commented on #13
Thanks for reporting the issue @2shady4u, I won’t have access to a computer before the 18th of December, but I’ll investigate as soon as I’m back from my little trip. This is a significant issue.

[2019-12-01 06:14] ephread commented on #12
I won’t have access to a computer before the 18th of December, but I’ll investigate as soon as I’m back from my trip. This is a significant issue, thanks for taking the time to provide an example!

[2019-12-07 10:37] shrnjad commented on #14
Thank you for the answer. I am using now the Godot version without Mono, which I prefer.

However, in the configuration for inkgd, there is still the field called 'Mono', where I put the pointer to my Mono installation. What is that used for? Will my team-members be able to run the project on their machines without having to install Mono?

[2019-12-07 21:17] shrnjad opened #15 "Unable to find Json file in export"
**Describe the bug**
My game runs fine in the Editor. When I export to Mac build or run in Firefox, it is unable to load the Ink Json file.

The exported game is unable to find the Ink file an logs this error:

   At: core/bind/core_bind.cpp:1755:get_as_text() - Condition ' !f ' is true. returned: String()

I have added ```*.json``` to the export filter in export settings, so the file should be ex

[2019-12-07 21:32] shrnjad commented on #15
There was a file next to the json file in the project folder with the ending ```.json```. After deleting that file, the json was exported to the build.

That solves it for me, but I should now read up on the ```.import```-files. 😉

[2019-12-07 21:32] #15 closed

[2019-12-09 07:37] ephread commented on #14
It’s only required if you want to have the Godot editor recompile (through _inklecate_) your master `*.ink` file every time you build/preview your project. [See here].(https://github.com/ephread/inkgd#editor)

The editor plugin is completely optional and not required to embed the runtime. Plus, if the path to either _inklecate_ or _mono_ is not provided (or can’t be resolved), then the file will n

[2019-12-09 10:35] shrnjad commented on #14
Thank you Frédéric! 🙏

[2019-12-09 10:35] #14 closed

[2019-12-21 19:11] 2shady4u commented on #12
@ephread Any update on this?
I kinda require these bugs to be fixed for my job :D
If you don't have time I can also start diving into the code to fix this, but this would probably take a lot longer.

[2019-12-21 22:11] ephread commented on #12
@2shady4u sorry, I haven't had time yet, will look into it in the next few days. I noticed that you compiled the story with inklecate 9.0.0 though, which is not supported by the current runtime. Just to be certain, do you encounter the same behaviour with 0.8.3?

[2019-12-22 09:25] ephread commented on #12
Update: I checked with two different versions of inklecate. Although the container hierarchy is slightly different between the two versions, they behave the same in the runtime.

[2020-02-25 12:43] 2shady4u commented on #12
@ephread Any update on this? If possible we could discuss this on Discord or through mail if that would be better for you?

[2020-02-27 22:22] ephread commented on #12
@2shady4u sorry, I'm moving overseas at the moment, so I'm a bit overwhelmed. We can get in touch through inkle's Discord (same handle as Github) if you want, but I may take forever to respond.

[2020-04-11 14:33] Drumclem opened #18 "Error while parsing ink_runner.tscn"
**Describe the bug**
I think everything is in the title. I have some experience with ink and wanted to develop a small game using Godot rather than Unity which I find cumbersome, but I can't seem to make it work.

Do you happen to have a Godot project running an ink story, just so I can look at how it is set up?

I'm sorry for this very simple question, I think I bit more than I could chew in tryi

[2020-04-11 16:49] ephread commented on #18
Hi @Drumclem,

I can't really reproduce the issue, if I download only the scene, Godot tells me that the scene is missing dependencies which is expected, but no parsing error. Which version of Godot are you using? (I should add that in the issue template.)

Feel free to clone the entire project which includes a functional example. You can't _just_ download a zip of the source code, since `.gitattr

[2020-04-11 19:08] ephread commented on #12
OH. MY. GOODNESS.

I found the issue, it's so utterly silly that I can't help but be super mad at myself. The equality method between two lists was not implemented, so the switch statement was using the equality method of the parent object (which always returns false).

Over the past few months I spent so much time here and there investigating this when I got the chance. But today, I guess I went

[2020-04-11 19:24] 2shady4u commented on #12
Hello :)
That's awesome! Thank you for fixing this! 😄
No problem that it took so long.

I would've tried fixing this myself, but I was swamped with work
myself :(

[2020-04-11 19:43] #12 closed

[2020-04-11 19:45] ephread commented on #13
Seems to be fixed on `master`, I tested with files from both `inklecate` 0.8.3 and 0.9.0 and compared with Inky's output.

[2020-04-11 19:45] #13 closed

[2020-04-11 19:46] ephread commented on #8
Since 3.2 has been released a while ago, I'm closing this issue. Feel free to let me know if you feel it should be reopened.

[2020-04-11 19:46] #8 closed

[2020-04-11 20:36] ephread commented on #4
Update: It's down to 1.5 seconds with Godot 3.2 and a couple of small optimisations.

[2020-04-21 13:10] ephread commented on #7
To help anyone stumbling upon this issue, here's the problem and a potential solution.

inkgd has a `.gitattributes` file which makes sure that only `addons/inkgd` is added to Github archive. Removing unnecessary files is important to prevent clutter in your project (Godot fetches the archive directly from Github and copies it content into the project, which means you could end up with a bunch of

[2020-04-24 19:24] shingle-bells opened #20 "Error when trying to run example project"
**Describe the bug**
The game won't run. Here's the debug log:
[code]

**To Reproduce**
Clone the project directly from GitHub and press play after loading it into Godot.

**Expected behavior**
The game running as normal.

**Environment:**
 - OS: Windows 10
 - Godot version: 3.2.alpha1.mono.official
 - Inklecate version: 0.8.3
 - _inkgd_ version: 0.1.4

[2020-04-24 21:31] ephread commented on #20
Hi @shingle-bells, I couldn't reproduce the issue with either Godot 3.1.2 or Godot 3.2.1, but after downloading 3.2.alpha1, I can confirm there's indeed an issue.

However, since it's an alpha version, it's not supported. I assume there's something wrong in the alpha build and I can only suggest to update Godot to a stable version.

It made me realize something though. The main scene in the projec

[2020-05-14 16:19] sdeesknees opened #21 "Reading an Ink file."
Hi, I'm a novice at both godot and coding in general, so I hope you can bear with me. All I would like to do is display text from Ink in dialogue boxes, and have those respond to certain inputs. The example scene feels too large for me to figure out exactly how  to do this.
![image](https://user-images.githubusercontent.com/47249468/81958213-40f39500-9640-11ea-96ac-3c22fb6730dc.png)

I tried to in

[2020-05-14 16:50] ephread commented on #21
Hey @cheeds,

I absolutely can!

If it finishes immediately, it's likely some errors were encountered. Does your story have errors? Have you check `story.has_error` or `story.current_errors`?

You can't start the story in ready, because inkgd needs `__InkRuntime` to be added to the scene tree (it stores a bunch of global functions and properties). I may try to remove it in future versions, because

[2020-05-14 17:24] cheeds commented on #21
Hi! Is the __InkRuntime the same as the var InkRuntime? I'm not sure it's the same thing.

Also, I created my ink file in the Inky editor, so I don't think there are any errors there. I tried getting the text to show on a label that responds to an _input event to see if anything might show up but I get the following:
![image](https://user-images.githubusercontent.com/47249468/81964790-b021b700-964

[2020-05-14 18:03] ephread commented on #21
`InkRuntime` is a reference to `runtime.gd`, which has two methods `init` et `deinit` used to add and remove the `__InkRuntime` node to/from the tree (`get_tree().root`).

That's weird, since it's opened by the previous line.

You'd have to print them or check their values in the debugger.

[code]

Can you provide me with the JSON you're using or a similar one causing the issue, so I can have a lo

[2020-06-27 20:36] mcoorlim opened #23 "Best way to implement multiple ink stories?"
Hi, I'm very new to gdscript, and I've been using your implementation of The Intercept as a guide to building my own ink runner node. I've got something working, I'm happy so far, inkgd has been a great help.

I'd like to link self-contained ink stories together into a sort-of anthology. How would I go about having the runner stop the current story and load a new .json? Or would it be easier/a bet

[2020-06-27 23:10] ephread commented on #23
Hi @mcoorlim,

I glad it’s been useful!

I think either way is fine, although keeping the same ink runner is probably easier. Assuming you don’t need to keep any references to the previous stories in the anthology, you can just replace the content of `story` with a new `Story`, clear the screen and call `continue()` to get the new content.

ink stories are idle until queried / continued so you can

[2020-06-28 16:07] mcoorlim commented on #23
Works like a charm, thanks.

[2020-06-28 16:07] #23 closed

[2020-07-05 12:14] 2shady4u commented on #4
just reiterating what I asked on Discord: currently my story takes several seconds to load due to building container hierarchy.

Could it be possible to save the container hierarchy in some way (as a packedscene?) to speed this up for release?

[2020-07-06 21:14] mcoorlim opened #24 "Issue with saving and loading state"
I'm trying to figure out how to create a save/load system, but I'm running into a problem. I save the ink story's state with `story.state.to_json()`, which works fine, but I'm having difficulty loading the state back into play. Specifically "clearing the board" of the old choices and passage text without it running out of story.

So my first attempt was to simply call `continue_story()` after load

[2020-07-07 20:43] mcoorlim commented on #24
Solved it myself; assigning story.current_text instead of story.continue() does the trick.

[2020-07-07 20:43] #24 closed

[2020-07-15 14:02] mcoorlim opened #25 "Implementing save/load"
I thought I had saving and loading the state of the ink figured out, but it's only working if I haven't made any choices yet. My game uses multiple ink story jsons, and If I try loading while the same ink story is in the runner, the passage text displays the very first passage in the story (incorrect, it should display the loaded passage), displays the correct choices for the loaded passage, and c

[2020-07-15 14:29] ephread commented on #25
@mcoorlim it's a bit tricky to know what's going on without being able to fiddle with the project.

Can you show me the code for `on_new_story_start()`? Does it just replace `inkRunner.story`?

ink tries to be as tolerant as possible when loading incompatible states, but if you use a state save from another story, you're likely to meet undefined behaviours.

[2020-07-15 14:46] mcoorlim commented on #25
`on_new_story_start()` exists to load in the new ink file.

[code]
'chapter' here is a variable set to the current story... which I don't believe I store when I save!

Fixing that solves the problem where loading from a different file breaks the game, but I still have the issue where upon loading I'm given the first ink passage in the file. I'm given the loaded choice buttons, though, and after I

[2020-07-15 14:56] ephread commented on #25
The last line in `on_new_story_start()` is probably why you get the first passage printed upon loading the new story. It's called before `inkRunner.loadState(data)`, so the story starts from scratch.

As for displaying the right passage before hitting the choices, do you export the state before said passage or after it was outputted by `story.continue()`?

[2020-07-15 15:13] mcoorlim commented on #25
I export when the player hits the save button on the godot level (which only sends a signal to run save_game())

[2020-07-15 15:31] ephread commented on #25
Alright, then you need to keep track of the _last_ passage shown on screen at any given time. I suppose you can then save it alongside the state when the user press the save button¹ and put it back on screen right before `loadState()`. ink doesn't backtrack, so once a line is outputted, it's gone.

¹ I noticed that you currently store both the story and the state as two different lines in your sav

[2020-07-15 16:02] mcoorlim commented on #25
Hm. Is there a way I can save the children of the VBoxContainer where I'm keeping all my instanced story passages, and then reload them? These are the actual label nodes, and preserving them would enable the player to read back and see where in the story they're at. (I'm not entirely sure how to write them to file, then read them back in where they're supposed to go)

[2020-07-15 17:16] mcoorlim commented on #25
I was able to save and re-import those labels using this tutorial: https://docs.godotengine.org/en/stable/tutorials/io/saving_games.html

It's all working fine now. Thanks so much for the continued assistance!

[2020-07-15 17:16] #25 closed

[2020-07-15 21:11] ephread commented on #25
No worries, happy to help!

[2020-09-09 12:33] 2shady4u opened #26 "else statement in switch block doesnt redirect if switch statement is 1"
**Describe the bug**
I'm not really sure if this is an inkgd or a ink-issue in general, but when there's a switch statement such as this:

[code]

The switch will only choose the 'else' divert if the `some_variable` is equal to zero, otherwise it just gets stuck.
This is unexpected behavior as I would expect that the `else`-clause serves as a "catch-all" sort of thing in a switch
statement. In oth

[2020-09-09 12:44] 2shady4u commented on #26
Just did a little test in Quill:

![image](https://user-images.githubusercontent.com/42484461/92599662-dc251000-f2aa-11ea-83e8-570b4bdd53ee.png)

The switch-statement correctly diverts to the 'else_divert' in that case. So it probably is an issue with inkgd 🤔

[2020-09-09 14:40] ephread commented on #26
Thanks for the detailed report @2shady4u, it's much, much appreciated and will make things easier to debug. I'll have a look this weekend!

[2020-09-12 14:07] ephread commented on #26
@2shady4u so there's actually a runtime error occurring, which is why the story doesn't recover. I don't really know why it's not visible with Quill, but inky and inklecate both report it.

![Screen Shot 2020-09-12 at 15 46 42](https://user-images.githubusercontent.com/722366/92996871-30302e80-f50f-11ea-8e93-d281fffa9327.png)

inkgd reports the issue it as well, but it's not pushed to the editor,

[2020-09-14 13:38] 2shady4u commented on #26
😕 okay...
It's a bit annoying that Ink doesn't catch this on compile-time...
And it's also extremely annoying that Quill doesn't crash at all! 🤣

It would indeed be easier if a hard crash would be printed to console 🤔

I'll check with the guys on the Ink discord what the issue is here, because this behavior is
just unexpected/weird/unconventional.
Like I mentioned before I would expect the "else"-

[2020-09-14 13:52] 2shady4u commented on #26
I made an issue on the Quill repo as well to hopefully figure out this inconsistency.
https://github.com/MattConrad/Quill/issues/14

[2020-09-17 09:09] #26 closed

[2020-09-28 02:12] you-win opened #27 "External function is called twice after divert"
**Describe the bug**
After diverting from a knot and calling an external function from the new knot

**To Reproduce**
Example included below. When diverting to `quest_completed` from `from_quest_accepted_0`, the function `end_quest(quest_name)` is called twice.

[code]

**Expected behavior**
When diverting to a new knot, the `end_quest` function should only be called once.

The problem is fixed if

[2020-09-29 23:58] you-win commented on #27
So according to [this piece of documentation](https://github.com/inkle/ink/blob/master/Documentation/RunningYourInk.md#important-notes-on-the-usage-of-external-functions), this is known behavior. Closing the issue.

[2020-09-29 23:58] #27 closed

[2021-01-24 23:53] ephread commented on #18
Closing due to inactivity.

[2021-01-24 23:53] #18 closed

[2021-01-24 23:53] ephread commented on #20
Closing due to inactivity.

[2021-01-24 23:53] #20 closed

[2021-01-24 23:54] ephread commented on #21
Closing due to inactivity, if you still have issues, feel free to comment and I'll reopen.

[2021-01-24 23:56] ephread commented on #3
I'm closing due to inactivity. I missed your comment @zyq0825, sorry about that. 😕 Feel free to open a separate issue if this is still a probem.

[2021-01-24 23:57] #21 closed

[2021-01-24 23:57] #3 closed

[2021-01-25 00:01] ephread commented on #4
Here's my reply on Discord back then for the sake of clarity. Maybe that can rekindle the discussion:

[2021-01-25 20:17] paulloz opened #29 "Loading a story state doesn't rollback the error stack"
Hey 😄

Let's consider the following code.
[code]
The expected behavior would be for everything after the new state is loaded to go on smoothly. But at the moment, story execution will stop when `continue()` is called and the stacked error will be displayed. The error stack needs to be cleared out and `InkRuntime.should_interrupt` should be reset.

The tricky part would be to determine if some erro

[2021-01-31 16:41] ephread commented on #29
That's a very good catch, thanks for raising it!

I've made error reporting more explicit in the latest version. Now, in debug, the execution is interrupted immediately when the runtime encounters an error.

Good idea, setting the state should clear everything and restore the story. I'll make it happen!

I originally didn't want to allow the story to continue because of the lack of exceptions in G

[2021-01-31 16:53] paulloz commented on #29
Yes, imho the only right way would be to embed that information into the state itself and use it during restoration.

[2021-02-27 01:02] bkmeneguello opened #30 "Update INK_VERSION_CURRENT to 20"
`INK_CURRENT_VERSION` is [currently defined as 19]( https://github.com/ephread/inkgd/blob/3127d994106fa00e93430a9153f1b2fa3cc287ae/addons/inkgd/runtime/story.gd#L14) but ink's `inkVersionCurrent` [is 20](https://github.com/inkle/ink/blob/v1.0.0/ink-engine-runtime/Story.cs#L19)

[2021-02-27 18:05] bkmeneguello opened #31 "Failed to convert token to runtime object: True"
Testing this ink file:
[code]
compiled with inkcatle v1.0.0 gives me `Failed to convert token to runtime object: True`.
[This is the line](https://github.com/ephread/inkgd/blob/3127d994106fa00e93430a9153f1b2fa3cc287ae/addons/inkgd/runtime/static/json.gd#L422) where the error happens. I changed [this line](https://github.com/ephread/inkgd/blob/3127d994106fa00e93430a9153f1b2fa3cc287ae/addons/inkgd/r

[2021-02-27 20:35] ephread commented on #30
Hey @bkmeneguello inkgd doesn't support stories compiled with inklecate 1.0.0 yet. I'll update the version once I port over all the changes!

[2021-02-27 20:36] ephread commented on #31
Hey @bkmeneguello same as #30, inkgd doesn't support stories compiled with inklecate 1.0.0 yet. It's coming in the future!

[2021-02-28 01:56] bkmeneguello commented on #30
I'm using this version without problems (yet), I can even run "The Intercept" compiled by Inklecate 1.0.0 with all flows. I didn't tested newer features yet.

[2021-03-01 00:49] bkmeneguello opened #32 "Glue is trimming whitespaces in the end of line"
**Describe the bug**
Whitespaces before glue marks are being trimmed.

**To Reproduce**
If I compile this ink:
[code]
It gives this (excerpt of) JSON:
[code]
Notice there is a whitespace after "Partial ".

But when I load this with InkGD (latest from master) the whitespaces are trimmed.

**Expected behavior**
The whitespaces should be kept to allow concatenation with text from the selected choice.

[2021-04-22 15:24] shrnjad opened #33 "Persistance of losts does not work"
**Describe the bug**
When adding an entry to a list, the change will not be persisted.

**To Reproduce**
Start the attached project. Click on 'Add entry to list' -> Click on 'Save Ink' -> Close program and reopen -> Click on 'Load Ink' and observe the text in the label.

**Expected behavior**
After the steps outline above, the label should say that the entry is contained in the list.

**Ink files*

[2021-08-22 01:34] tlitookilakin opened #34 "Attempting to create a story results in error spam due to null state"
**Describe the bug**
Attempting to create a new story via Story.new() repeatedly spams the error log with errors until the game is closed. The exact error differs every time but all of them stem from setgets being called while state is null

**To Reproduce**
Create a new story while running inkgd on godot 3.3 stable

**Expected behavior**
Creating a new story should work instead of crashing the ga

[2021-09-10 22:19] Antokolos commented on #34
Confirmed, I tried to use inkgd on Godot 3.3.3 stable, standard, and it refuses to work.
In my case the error was in the following line
https://github.com/ephread/inkgd/blob/3127d994106fa00e93430a9153f1b2fa3cc287ae/addons/inkgd/runtime/call_stack.gd#L397
The reason of error was self.current_thread being null

[2021-11-04 08:47] makeartandgames opened #35 "Web export not working"
**Describe the bug**
Desktop export for the included example works. When playing the Web export, the game crashes immediately.

**To Reproduce**

Export the example to html5

**Expected behavior**

it works on web as it does on desktop

**Ink files**

**Environment:**
Windows, godot 3.3.4, fails in every browser I tried (chrome and edge). Godot editor HTML5 preview gives same result.

**Additional

[2021-11-05 19:27] makeartandgames commented on #35
export filter needed to be set to allow json extensions, I'll add his

[2021-11-06 16:36] dploeger opened #36 "Problems with the settings panel"
**Describe the bug**
When using the file selectors in the settings panel, the selected files aren't accepted. Instead, one can only set the paths directly in the text inputs.

Also, the mono selector button is missing an icon.

And mono isn't required for macOS (anymore)

**To Reproduce**
Try to select a mono binary, the path to inklecate, an ink file or a target file. None of the file selectors w

[2021-11-10 12:06] videlanicolas opened #38 "Example crashes"
**Describe the bug**
Example doesn't work in Godot 3.3.4 on Debian 11.

**To Reproduce**

1. `$ git clone https://github.com/ephread/inkgd.git`
2. Import `project.godot`.
3. Run game.

Game crashes with the following error: `Assertion failed: Story execution will stop: Failed to find content at path 'asdasdasdasdads', and no approximation of it was possible.`

**Expected behavior**
Game should not

[2021-11-10 21:08] #38 closed

[2021-11-11 11:56] videlanicolas commented on #36
Found it, the problem here is that `InkFileDialog` [connects](https://github.com/ephread/inkgd/blob/main/addons/inkgd/editor/ink_dock.gd#L78) signal `popup_hide` and `file_selected`, but the order of signal firing events is `popup_hide` and then `file_selected`. Looking at the [method](https://github.com/ephread/inkgd/blob/main/addons/inkgd/editor/ink_dock.gd#L128) called in `popup_hide` we can se

[2021-11-11 11:57] dploeger commented on #36
Awesome, thanks!

[2021-11-12 20:28] videlanicolas opened #41 "Documentation"
While the tutorial in the README helps to get started with inkgd and setup a story, it does not explain the methods to use. Once must infer them from the code and test their way through to get the most out of Ink.

To solve this Inkgd must have a documentation that details the methods found in the API, this way the user can read the docs and understand what methods they should use. I propose we op

[2021-11-12 20:41] videlanicolas commented on #34
Is this happening only in Windows? I'm not seeing this issue in Linux (Debian 11).

Here's my example for reference:
Godot: 3.3.4.stable.flathub
Inkgd: 0.2.1
[code]

[2021-11-13 17:24] ephread commented on #41
@videlanicolas great idea, thanks for spearheading this!

I created the [project](https://readthedocs.org/projects/inkgd/) on ReadTheDocs and added you as a maintainer. How would you want to start this, do you plan to reuse the existing doc comments found in the C# code?

[2021-11-14 08:29] videlanicolas commented on #41
Thanks!

Yes, I think we should import the comments in the C# code from [Ink](https://github.com/inkle/ink) unto this repo. The best practise would be to import the comment from the function in C# to the function in GDScript, that way if this project doesn't support a given function of Ink we can declare it in the function's comment.

We should also add a "Getting Started", "Tutorials" and "Troubl

[2021-11-14 23:19] ephread commented on #36
@dploeger thanks for reporting the issues.
@videlanicolas thanks for fixing them.

There's always been a prebuilt binary of inklecate embedding the mono runtime for macOS. I originally forced the use of a Mono / .NET runtime on macOS because I was experimenting with them, but that was a huge mistake. 😅 It's confusing and it makes no sense for most users.

Now that inklecate for Linux also comes pr

[2021-11-15 03:07] videlanicolas commented on #36
We should close this bug, ot at least release a new version with this fix and then close the bug.

[2021-11-15 08:35] ephread commented on #36
@videlanicolas 0.2.3 was released yesterday and is pending review on the Asset Library. I'm going to keep this issue open until #43 is merged, though.

If you're cool with it, I'll add you as a reviewer when it's ready!

[2021-11-15 08:47] dploeger commented on #36
I've just published it there. 👍🏽

[2021-11-15 11:08] videlanicolas commented on #36
Sounds good!

[2021-11-16 11:07] videlanicolas commented on #41
With these two last PR we now have continuous builds on ReadTheDocs (https://inkgd.readthedocs.io/). I'll now work on getting the "Getting Started" section.

[2021-11-19 12:25] videlanicolas commented on #41
Thinking how to do the Tutorial section. I'm thinking of a simple RPG-style game where a knight needs to save the prince/princess, the player moves the knight and interacts with other people to gather items and complete the quest. This way we can showcase how to gather text from a story, choices arrays, tags and variables.

I'll sketch something up and make it available in the AssetLib in Godot, t

[2021-11-19 12:34] videlanicolas commented on #41
For the class documentation, we should add docstrings to each function in this repo's API, and auto-generate the documentation from those docstrings. Nothing too fancy, just a summary of the function/class plus a summary of what the inputs/outputs are.

Given that the functions are the same as those found in Ink's runtime engine we could build a tool that extracts docstrings from Ink's functions i

[2021-11-19 12:36] videlanicolas commented on #41
The troubleshooting section should be easy enough to do, a new file named `docs/source/troubleshooting/index.rst`containing common mistakes people do with Inkgd.

[2021-11-19 23:42] ephread commented on #41
Great idea!

***

Although it might be tedious, it's probably going to be faster by hand, due to name and syntax differences. A quick (and naive) search returned 123 individual "doc comments" for 0.9.0 (the version of the runtime _inkgd_ is currently based on). Most of the code is somewhat internal and not exposed to the end-user.

<img width="547" alt="Screen Shot 2021-11-19 at 22 24 03" src="htt

[2021-11-26 10:33] videlanicolas commented on #30
I think we need to bump this version to 20. While doing some test runs of Inkgd I'm getting this same error.

I'd say we bump the version, and if there are incompatibilities between Ink and Inkgd they should be filed as bugs.

[2021-11-27 15:27] ephread commented on #30
I'm not keen on doing this because it sounds like a maintenance nightmare down the line.

Fortunately, the migration to 1.0.0 is nearly completed. I just have to dig into the codebase and find why 2 tests are crashing and 4 tests are not passing. I should be able to release the next version over the weekend or early next week.

[2021-11-27 22:14] ephread commented on #32
I suspect that's expected, because I see the same behaviour when running that code example through inklecate, but I may miss something. Can you confirm the behaviour is different between inklecate 1.0.0 and what's currently in `main` (which is compatible with Ink 1.0.0)?

[2021-11-27 22:34] ephread commented on #30
Fixed by #28.

[2021-11-27 22:34] #30 closed

[2021-11-27 22:36] ephread commented on #31
Fixed by #49.

[2021-11-27 22:36] #31 closed

[2021-11-27 22:36] ephread commented on #31
Fixed by #49.

[2021-11-27 22:36] ephread commented on #31
Fixed by #49.

[2021-11-27 22:46] ephread commented on #35
Related: #10

I'll add a few words about allowing JSON files in exports. Also, might be a good idea to use `OS.has_feature` in the example, to prevent the use of threads on platforms that don't support them.

[2021-11-30 21:56] videlanicolas commented on #41
Sounds good, I'll take some time to do this.

That's ok, I'll create a branch on my fork and do a commit tree for this, then file a PR.

My main worry here is that everytime Inklecate changes their documentation, we would have to do that manually. If there's something automatic, like a tool that Github can run periodically, that compares the comments of Inklecate with the comments on this repo, th

[2021-12-01 14:21] ephread commented on #41
I port the changes from upstream on each new version anyway, so it could definitely be a small addition of that tedious process.

Awesome, there's going to be significant change to _inkgd_'s interface in the future. It's going to use proper resources and the dock is going to be less confusing. I'll walk you through the changes once I'm done with them.

Good luck with the move!

[2021-12-12 00:42] tlitookilakin commented on #34
sorry for the late response- I do indeed have the singleton set up, and yes it has been occurring on windows. I even tested it with the provided example project and ran into the same issue. I haven't tried it with the latest release, so when I get a chance, I'll do that and let you know if it works.

[2021-12-20 16:40] #36 closed

[2021-12-20 16:52] ephread commented on #41
@videlanicolas I got myself acquainted with Sphink & reStructuredText and massively reworked [the documentation](https://inkgd.readthedocs.io/en/latest/). Feedback welcome!

I split the introduction into multiple pages so that they are more readily available from the sidebar. The game tutorial will fit nicely after [Initial Configuration](https://inkgd.readthedocs.io/en/latest/getting_started/conf

[2021-12-20 17:02] ephread commented on #35
Closing as #43 fixes both issues with a new convenience node that use proper resources.

[2021-12-20 17:02] #35 closed

[2021-12-21 13:26] videlanicolas commented on #41
Nice! This is practically done already. I think this looks very good.

Yes, my idea was to have a script that reads the comments from the _Ink_ C# API and converts them to an XML, then use `make_rst.py` to convert it to an `.rst` file. Doing a manual XML and then use the script from Godot looks good to me.

[2021-12-22 10:59] Lertsenem opened #52 "v0.4.0 not available on the Godot Assets Library"
**Describe the bug**
The doc describes how to use the 0.4.0 version, with an InkPlayer node. The available version on the GAL is 0.3.0 which does not seem to work in the same way.

**To Reproduce**
Install the plugin through the GAL. Try to follow the doc at https://inkgd.readthedocs.io/. Confusion ensues. :]

**Expected behavior**
The latest stable & documented version should match the one availa

[2021-12-22 11:51] ephread commented on #52
Hey @Lertsenem, it's been submitted on the Asset Library, but it's pending review. Sorry for the inconvenience.

[2021-12-22 12:02] ephread commented on #33
@shrnjad thank you so much for reporting the issue and attaching a project.

Sorry it took so long to tackle this. I believe the issue is fixed in 0.4.0, would you be able to double check? The attached project seems to behave properly.

[2021-12-22 14:30] Lertsenem commented on #52
Ok, no problems! Thanks for clarifying that! Maybe a disclaimer in the README about this could help?

[2021-12-22 15:55] ephread commented on #52
Cheers, I hope the review will happen soon enough.

This is a rare mishap. There are massive changes between 0.3.0 and 0.4.0 and 0.4.0 is the first version to take advantage of ReadTheDocs. The transition should be much smoother in the future.

Good idea! Fortunately, since the README points to the *latest* version of the doc, I've added a note in [Installation](https://inkgd.readthedocs.io/en/lat

[2021-12-28 13:29] ephread commented on #52
Closing because 0.4.1 is now available on the Asset Library.

[2022-01-11 08:38] shrnjad commented on #33
@ephread So sorry for the late reply. We are currently in the early stage of our current project (Hauma again). I would test it a bit later when I get around to implementing persistance if that is ok and we are not in a hurry.

[2022-01-24 17:21] lunarcloud opened #55 "Support Godot 4"
I know the 4.0 alpha is hot off the presses, but the inkGD plugin doesn't yet work with it, at least not on my autoconverted project, and the new text / font improvements make it really appealing for ink storytellers.

[2022-01-24 17:25] lunarcloud commented on #55
Looks like a lot of it is gdscript updates - "@tool" and "@onready" instead of "tool" and "onready" - and the lack of mono support (for the compiling).

[2022-01-24 18:27] lunarcloud commented on #55
Okay, that's probably all the investigation into what's changed I can do.
Yes, I know it's a lot.
Yes, I'm aware this'll need to be completely forked so there's a gd3 and gd4 version.

[2022-01-25 14:16] ephread commented on #55
Hey @lunarcloud, thanks for investigating this!

I'm going to create a PR to track what changes are needed for the migration. I don't plan to work on it before the first beta though, as I'm waiting for the feature freeze.

We need to be careful about that one. Some types are deliberately not enforced because GDScript doesn't support optionals. In particular, Array, String and Dictionary are not nu

[2022-01-25 14:19] lunarcloud commented on #55
Ah, with typing, where I can't add it, I leave a comment explaining why / what it should be for myself. I've also experienced moments where it's not ok, particularly Arrays.

[2022-01-25 14:46] ephread commented on #55
Progress tracked in #56, I've combined our findings!

[2022-01-25 17:52] shrnjad commented on #33
So I tried to test with version 0.4.2 but could not get the test project to run. (I downloaded it from the link in this issue)

It is also not obvious what the problem is while debugging. The problem happens at this line:

![grafik](https://user-images.githubusercontent.com/2298493/151031398-57128781-d372-478a-8ccd-dc09aa0ec1c8.png)

It runs into some recursive error that happens at this place in

[2022-01-25 19:25] ephread commented on #33
It's my fault, types are broken, I was overzealous in adding them. Thanks for uncovering the issue! I wish GDscript would support optionals.

The recursive error is misleading, it happens because the debugger keeps retrieving the value from the getter to display it in the inspector. I consider this a bug in Godot, but I've been too lazy to report it.

I'll fix it, publish a new version and keep yo

[2022-01-26 16:20] shrnjad commented on #33
No worries, I am happy to support you! 💪

[2022-01-26 22:33] ephread commented on #33
Thanks!

Note to self, the recursive problem with the debugger is fixed in Godot 4 alpha 1!

![SuccessKid](https://user-images.githubusercontent.com/722366/151258292-ee689172-7294-4235-ad07-d6547df53cba.jpg)

[2022-03-24 16:32] GreenCloversGames opened #58 "Bug - inkplayer not running with HTML export/Loads in Background turned off"
**Describe the bug**
inkplayer create_story method throws "InkRuntime could not be found" error if run in HTML or "Loads In Background" turned off.

**To Reproduce**

1. Install inkgd plugin and create inkPlayer node and load with InkFile.
2. Turn "Loads in Background" off.
3. In code, have the inkplayer run the "create_story" method and run the scene.

**Expected behavior**
Scene should run as no

[2022-03-25 19:36] ephread commented on #58
Hey @GreenCloversGames, thanks for reporting and investigating this issue!

[2022-03-25 19:38] #58 closed

[2022-04-11 10:11] Lertsenem commented on #34
I have the same issue using Godot v3.4.2, and I can't figure it out.

It feels like the plugin refuses to create a story (fails happens once InkStory.new(json_story) is called, inside the InkPlayer), because _story (or sometimes _story._state) is null.

InkPlayer nodes created in editor still work, but I can't change their Stories dynamically (or create new InkPlayer node), which is pretty inconve

[2022-04-11 10:24] ephread commented on #34
@Lertsenem 😕

Which version of inkgd? Which OS? Does it happen after an export or while debugging?

[2022-04-11 11:11] Lertsenem commented on #34
@ephread
I'm on Linux (Ubuntu 20.04 LTS), I'm using the last inkgd stable version (0.4.5) cloned as a git submodule for my project, configured to use inklecate v1.0.0 (directly bundled with Mono).

It happens while debugging, I did not try to export my project yet.

[2022-04-11 13:00] Lertsenem commented on #34
I managed to solve my issue !

I was trying a stupid method to create the ink_file like
[code]
replacing that with a simpler
[code]
makes everything works as expected.

Still no idea how this resulted in such a weird error though. :D

[2022-10-21 23:18] lunarcloud opened #65 "Errors Combined with OpenXR"
**Describe the bug**
Tries reimporting a json file from the openxr plugin, over and over again - the "reimporting" popup doesn't stop.

editor/editor_file_system.cpp:1759 - Error importing 'res://addons/godot-openxr/runtimes.json'.

**To Reproduce**
Have godot-openxr and inkgd installed and both enabled.

**Expected behavior**
the json support to ignore files in other addons.

**Environment:**
 -

[2022-11-23 00:52] ephread commented on #65
Thanks for reporting the issue! I'll have a look.